<ul class="list menu-left">
    <li>
        <a href="/Doctree_index">Home</a>
    </li>
    <li>
        <a href="/Doctree_about-us">About</a>
    </li>
    <li>
        <a href="/price">pricing</a>
    </li>
    <li>
        <a href="Doctree_contact">Contact</a>
    </li>
</ul>
</div>	
