<ul class="list menu-left">
    <li>
        <a href="/doctree_index">Home</a>
    </li>
    <li>
        <a href="/doctree_about-us">About</a>
    </li>
    <li>
        <a href="/pricing">pricing</a>
    </li>
    <li>
        <a href="doctree_contact">Contact</a>
    </li>
</ul>
</div>	
