<section class="cta-area"style="margin-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <h2>Get to Know Project Estimate?</h2>
                <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                    exciting to think about setting up your own viewing station whether that is on the deck</p>
                <a href="#" class="primary-btn">Get Started</a>
            </div>
            
        </div>
    </div>

<!--================ End CTA Area =================-->



<!--================ start footer Area  =================-->
<div id="footer" style="padding-top:30px;">
        <div class="container">
        <div class="row">
        <div class="col-lg-4">
    <h4>My House</h4>
        <p>
        Plot no-7,<br/>
        (9872686373), <br/>
        Jaipur, Rajasthan.
        </p>
        </div><!-- /col-lg-4 -->
        <div class="col-lg-4">
        <h4>My Links</h4>
        <p>
        <a href="#">Instagram</a><br/>
        <a href="#">LinkedIn</a><br/>
        <a href="https://www.facebook.com/profile.php?id=100007722044357" target="_blank">Facebook</a>
        </p>
        </div><!-- /col-lg-4 -->
        <div class="col-lg-4">
        <h4></h4>
        <p>©Copyright © 2019. All Rights Reserved.Developed by Doctree.
        </p>
        </div><!-- /col-lg-4 -->
        </div>
        </div>
        </div>
        </div>
<!--================ End footer Area  =================-->
</section>