<ul class="list menu-left">
    <li>
        <a href="/index">Home</a>
    </li>
    <li>
        <a href="/about_us">About</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
</ul>
</div>
<!--================ End Offcanvus Menu Area =================-->
