<%- include ('partials/header.ejs') %>
<%- include ('partials/menu.ejs')%>

	<!--================ Canvus Menu Area =================-->
	<div class="canvus_menu">
		<div class="container">
			<div class="toggle_icon" title="Menu Bar">
				<span></span>
			</div>
		</div>
	</div>
	<!--================ End Canvus Menu Area =================-->

	<!--================Home Banner Area =================-->
	<section class="banner_area ">
		<div class="banner_inner overlay d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-left">
					<div class="page_link">
						<a href="/index">Home</a>
						<a href="/about_us">About Us</a>
					</div>
					<h2>About Us</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================ Start Video Area =================-->
	<section class="video-sec-area">
		
				<div class="col-md-12">
					<h1 class="main_view">We Are Crafted.Some Info About Us</h1>
					<p class="slight_view">
						In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of
						the space telescope known as the Hubble.
					</p>
		</div>
	</section>
	<!--================ End video Area =================-->

	<!--================ Start CTA Area =================-->

	<!--================ End CTA Area =================-->

	<!--================ Start Team Area =================-->
	<section class="team-area section-gap">
		<div class="container">
			<div class="owl-carousel active-team-carusel">
				<!-- single carousel -->
				<div class="row align-items-center single-item">
					<div class="col-lg-6 col-md-6">
						<div class="team-left">
							<img class="img-fluid" src="assets/img/team1.png" alt="">
							<div class="member-desc d-flex justify-content-between align-items-center">
								<div class="m-title">
									<h4>Randy Weaver</h4>
									<p>Senior Barrister at law</p>
								</div>
								<div class="m-social">
									<div class="t-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</div>
									<div class="b-icons">
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-behance"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 offset-lg-1 col-md-6 team-right">
						<h1>Our Interactive <br>
							Team Mates</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
						</p>
						<a class="primary-btn" href="#">view members</a>
					</div>
				</div>
				<!-- single carousel -->
				<div class="row align-items-center single-item">
					<div class="col-lg-6 col-md-6">
						<div class="team-left">
							<img class="img-fluid" src="assets/img/team1.png" alt="">
							<div class="member-desc d-flex justify-content-between align-items-center">
								<div class="m-title">
									<h4>Randy Weaver</h4>
									<p>Senior Barrister at law</p>
								</div>
								<div class="m-social">
									<div class="t-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</div>
									<div class="b-icons">
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-behance"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 offset-lg-1 col-md-6 team-right">
						<h1>Our Interactive <br>
							Team Mates</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
						</p>
						<a class="primary-btn" href="#">view members</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Team Area =================-->

	<!--================ Start Testimonial Area =================-->
	<section class="testimonial-area section-gap-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10 text-center">
					<div class="section-title">
						<p>We Are Providing these services</p>
						<h1>We Are <span>Crafted.</span> Design & Development<br> <span>Services</span> Provider.</h1>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="owl-carousel active-testi-carousel">
						<!-- single carousel -->
						<div class="single-testi-item">
							<div class="author-title">
								<div class="thumb"><img src="assets/img/about-author.png" alt=""></div>
								<div class="a-desc">
									<h6>Marvel Maison</h6>
									<p>Chief Executive, Amazon</p>
								</div>
							</div>
							<div class="author-desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.</p>
							</div>
						</div>
						<!-- single carousel -->
						<div class="single-testi-item">
							<div class="author-title">
								<div class="thumb"><img src="assets/img/about-author.png" alt=""></div>
								<div class="a-desc">
									<h6>Marvel Maison</h6>
									<p>Chief Executive, Amazon</p>
								</div>
							</div>
							<div class="author-desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Testimonial Area =================-->

	<!--================ start footer Area  =================-->
	

	<!--================ End footer Area  =================-->
	<%- include ('partials/footer.ejs')%>
    <%- include ('partials/tail.ejs')%>