<%- include ('partials/header.ejs') %>
<!--================ Offcanvus Menu Area =================-->
<%- include ('partials/menu.ejs')%>
<!--================ End Offcanvus Menu Area =================-->

	<!--================ Canvus Menu Area =================-->
	<div class="canvus_menu">
		<div class="container">
			<div class="toggle_icon" title="Menu Bar">
				<span></span>
			</div>
		</div>
	</div>
	<!--================ End Canvus Menu Area =================-->

	<!--================ start banner Area =================-->
	<section class="home-banner-area">
		<div class="container">
			<div class="row justify-content-end fullscreen">
				<div class="col-lg-6 col-md-12 home-banner-left d-flex fullscreen align-items-center">
					<div>
						<h1 class="">
							Make us <span>Help</span>. <br>
							You <br>
							<span>Live</span>Healthy.
						</h1>
						<p class="mx-auto mb-40">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</p>
						<a href="/users/Login" class="primary-btn">For Doctors</a>
						<a id="patients"href="#" class="primary-btn">For Patients</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 no-padding home-banner-right" style="padding-top:110px;">
					<img class="img-fluid" src="assets/img/header-imgg.jpg" alt="network error">
				</div>
			</div>
		</div>
	</section>
	<!--================ End banner Area =================-->
	<!--================ Start Service Area =================-->
	<section class="service-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9 text-center">
					<div class="section-title">
						<p>We Are Providing these services</p>
						<h1>We Are <span>Crafted.</span> We Provide These <br> Services to Our Customers</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single-features -->
				<div class="col-lg-3 col-sm-6 col-md-6">
					<div class="single-service">
						<div class="service-icon">
							<img src="assets/img/service/shape1.png" alt="">
							<img class="s-icon" src="assets/img/service/icon1.png" alt="">
							<img class="clr-icon" src="assets/img/service/clr-icon1.png" alt="">
						</div>
						<div class="service-content">
							<h4>Story Boarding</h4>
							<p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards
								especially in the workplace that’s why.</p>
						</div>
					</div>
				</div>
				<!-- single-features -->
				<div class="col-lg-3 offset-lg-1 col-sm-6 col-md-6">
					<div class="single-service">
						<div class="service-icon">
							<img src="assets/img/service/shape1.png" alt="">
							<img class="s-icon" src="assets/img/service/icon2.png" alt="">
							<img class="clr-icon" src="assets/img/service/clr-icon2.png" alt="">
						</div>
						<div class="service-content">
							<h4>Story Boarding</h4>
							<p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards
								especially in the workplace that’s why.</p>
						</div>
					</div>
				</div>
				<!-- single-features -->
				<div class="col-lg-3 offset-lg-1 col-sm-6 col-md-6">
					<div class="single-service">
						<div class="service-icon">
							<img src="assets/img/service/shape1.png" alt="">
							<img class="s-icon" src="assets/img/service/icon3.png" alt="">
							<img class="clr-icon" src="assets/img/service/clr-icon3.png" alt="">
						</div>
						<div class="service-content">
							<h4>Story Boarding</h4>
							<p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards
								especially in the workplace that’s why.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Service Area =================-->
	<!--================ Start Portfolio Service Area =================-->
	<!--================ End Portfolio Service Area =================-->
	<!--================ Start Testimonial Area =================-->
	<section class="testimonial-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10 text-center">
					<div class="section-title">
						<p>We Are Providing these services</p>
						<h1>We Are <span>Crafted.</span> Design & Development<br> <span>Services</span> Provider.</h1>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="owl-carousel active-testi-carousel">
						<!-- single carousel -->
						<div class="single-testi-item">
							<div class="author-title">
								<div class="thumb"><img src="assets/img/about-author.png" alt=""></div>
								<div class="a-desc">
									<h6>Marvel Maison</h6>
									<p>Chief Executive, Amazon</p>
								</div>
							</div>
							<div class="author-desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.</p>
							</div>
						</div>
						<!-- single carousel -->
						<div class="single-testi-item">
							<div class="author-title">
								<div class="thumb"><img src="assets/img/about-author.png" alt=""></div>
								<div class="a-desc">
									<h6>Marvel Maison</h6>
									<p>Chief Executive, Amazon</p>
								</div>
							</div>
							<div class="author-desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Testimonial Area =================-->

	<!--================ Start CTA Area =================-->
	<%- include ('partials/footer.ejs')%>
    <%- include ('partials/tail.ejs')%>