.main_view
		{
			margin-left:360px;
		}
		.slight_view
		{
			margin-left:170px;
		}
		@media(max-width:480px)
		{
			.main_view
			{
				margin-left:70px;

			}
			.slight_view
			{
				margin-left:25px;
			}
		}