.parent_div 
{
    background-color:white;width:370px;height:400px;margin-top:4px;margin-left:370px;
}
@media (max-width:480px)
{
    .parent_div
    {
        margin-left:0px;
    }
  
}
.child_div
{
    background-color:white;
    width:370px;
    height:250px;
    border-style: groove;
 
    border-width:1px;
   
}
.h3
{
    padding-left:30px;
}
#imgg
{
    margin-left:600px;margin-top:8px;
}
@media (max-width:480px)
{
    #imgg
    {        
        margin-left:130px;
    }
}
